.nav_menu {
  display: flex;
  background-color: #333; /* Couleur de fond de la barre de navigation */
  padding: 10px;
}

.nav_menu a {
  text-decoration: none;
  color: white; /* Couleur du texte des liens */
  margin-right: 20px; /* Marge entre les liens pour l'espacement */
  font-size: 16px; /* Taille du texte des liens */
}

.nav_menu a:hover {
  color: #ffcc00; /* Couleur du texte des liens au survol */
}

.nav_Accueil {
  /* Styles spécifiques pour le lien Accueil si nécessaire */
}

.nav_Profil {
  /* Styles spécifiques pour le lien Profil si nécessaire */
}
